NEXT_PUBLIC_SUPABASE_URL=https://zbajdczhdbchigtkksky.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_zG6mWhCZFlzhRk2jgVz3yQ_YGaHheW5
SUPABASE_SERVICE_ROLE_KEY=your-service-role-or-secret-key
DATABASE_URL=postgresql://postgres.project-ref:your-postgres-password@aws-1-us-east-2.pooler.supabase.com:6543/postgres
